<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Choose Ticket Tag
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <?php
$tags->each(function ($var){
        echo "<li class="lists"><a>$var->tag</a></li>";
        });
        ?>
    </ul>

</div>
</body>
</html>

<script>
    $('.lists').click(function (event) {
        event.preventDefault()
        $.ajax({
            url: "addonmodules.php?module=categorize_tickets",
            cache: false,
            type: "POST",
            data: {
                selectedTag: $("#newtag").val(),

            }
        });
    })
</script>