<?php
include __DIR__.DIRECTORY_SEPARATOR."/test.php";
?>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="panel panel-default" style="width: fit-content;background: #63cfd2">
    <div class="panel-body" style="color: #9a141e;font-size:large">
        Available Ticket Tags
    </div>
    <div class="panel-footer" style="font-size: large">
        <ul>
            <?php
$tags->each(function ($var){
            echo "
            <li>$var->tag</li>
            ";

            });
            ?>
        </ul>
    </div>
</div>

<form class="navbar-form navbar-left" role="search">

    <div class="form-group">
        <input id="newtag" type="text" class="form-control" placeholder="Enter New Ticket Tag">
    </div>
    <button id="selectBtn" type="submit" name="selectBtn" class="btn btn-default">Add</button>
</form>
<br>><br
><br>

<select  class="btn btn-default dropdown-toggle" name="options" id="inlineFormCustomSelect" >
    <option class=none selected disabled>Choose Ticket Tag</option>
    <?php
     $tags->each(function ($var){
    echo "<option class=none value='{$var->tag}'> $var->tag </option>";
    });
    ?>

</select>

<table id="myTable" class="table">
    <thead class="table">
    <tr>
        <th>Ticket Id</th>
        <th>Tag</th>
        <th>Subject</th>
        <!--        <th>Message</th>-->
        <th>Status</th>
        <th>Owner Name</th>
        <th>Owner Email</th>
        <th>Department</th>
        <th>Created At</th>
    </tr>
    </thead>
    <?php


    $tickets->each(function ($var){
    echo "
    <tr>
        <td> $var->ticket_id</td>
        <td> $var->tag</td>
        <td> $var->title</td>
        <td> $var->status</td>
        <td> $var->firstname $var->lastname</td>
        <td>$var->email</td>
        <td> $var->name</td>
        <td> $var->date</td>
    </tr>
    ";
    });
    ?>

</table>

</body>


</html>

<script>
    $('#selectBtn').click(function (event) {
        event.preventDefault()
        $.ajax({
            url: "addonmodules.php?module=categorize_tickets",
            cache: false,
            type: "POST",
            data: {
                newtag: $("#newtag").val(),

            }
        });
    })
</script>